In [3]:
import pandas as pd

movie_data = pd.read_csv("../data/movie_data.csv")
movie_ratings = pd.read_csv("../data/movie_ratings.csv")

In [4]:
movie_data

,Movie_id,Title,Genres,Release_year,Runtime,Language,Adult
0,1236153,Mercy,"[878, 28, 53]",2026.0,99,en,False
1,1272837,28 Years Later: The Bone Temple,"[27, 53, 878]",2026.0,109,en,False
2,1244975,The Orphans,[28],2025.0,95,fr,False
3,1301306,A Woman Scorned,[28],2025.0,84,en,False
4,1523145,Your Heart Will Be Broken,"[10749, 18]",2026.0,0,ru,False
...,...,...,...,...,...,...,...
10011,214140,McCanick,"[80, 18, 53]",2014.0,96,en,False
10012,552934,Erased,[18],2018.0,81,sl,False
10013,47819,Americathon,[35],1979.0,84,en,False
10014,653484,Paranormal Roommates,"[16, 35]",2013.0,8,en,False
10015,257366,Dummy,"[18, 10770]",1979.0,96,en,False

In [5]:
removed_indexes = movie_data.loc[movie_data.Runtime == 0].index.tolist()
removed_indexes += movie_data.loc[movie_data.isna().any(axis=1)].index.tolist()
removed_indexes += movie_data.loc[movie_data.Language == "xx"].index.tolist()
print(removed_indexes)

[4, 11, 115, 142, 164, 281, 303, 318, 333, 440, 451, 573, 633, 654, 667, 704, 741, 892, 1139, 1168, 1244, 1425, 1439, 1525, 1563, 1620, 1653, 1687, 1738, 1856, 2133, 2139, 2153, 2194, 2220, 2255, 2284, 2382, 2655, 2705, 2756, 2778, 2875, 2976, 3019, 3060, 3186, 3188, 3200, 3264, 3284, 3301, 3355, 3379, 3382, 3403, 3487, 3546, 3629, 3685, 3695, 3708, 3710, 3761, 3781, 3814, 3842, 3848, 3850, 3904, 3971, 3996, 4011, 4037, 4089, 4116, 4134, 4135, 4164, 4166, 4223, 4257, 4271, 4317, 4324, 4379, 4431, 4443, 4574, 4592, 4629, 4640, 4665, 4685, 4691, 4692, 4709, 4734, 4751, 4785, 4786, 4815, 4829, 4830, 4845, 4882, 4898, 4900, 4949, 4953, 4956, 5007, 5024, 5167, 5184, 5199, 5212, 5216, 5244, 5246, 5257, 5264, 5272, 5275, 5322, 5324, 5369, 5374, 5437, 5451, 5454, 5462, 5485, 5506, 5526, 5539, 5554, 5573, 5589, 5598, 5602, 5627, 5634, 5670, 5682, 5684, 5691, 5695, 5729, 5759, 5781, 5787, 5873, 5884, 5892, 5898, 5899, 5929, 5936, 5945, 5968, 5978, 5988, 6023, 6025, 6069, 6077, 6084, 6093, 6106, 6114, 6152, 6153, 6183, 6192, 6217, 6221, 6245, 6248, 6250, 6261, 6276, 6279, 6291, 6303, 6316, 6332, 6340, 6344, 6346, 6348, 6354, 6367, 6369, 6370, 6391, 6402, 6403, 6419, 6438, 6451, 6479, 6501, 6502, 6519, 6531, 6579, 6613, 6648, 6673, 6677, 6686, 6700, 6722, 6739, 6742, 6754, 6768, 6772, 6812, 6819, 6824, 6835, 6856, 6867, 6892, 6918, 6919, 6924, 6960, 6986, 7005, 7040, 7042, 7055, 7068, 7071, 7093, 7100, 7102, 7119, 7140, 7146, 7149, 7154, 7159, 7160, 7180, 7181, 7184, 7208, 7223, 7244, 7247, 7258, 7282, 7283, 7306, 7313, 7327, 7332, 7335, 7345, 7348, 7356, 7370, 7383, 7396, 7408, 7421, 7430, 7432, 7436, 7465, 7466, 7489, 7492, 7517, 7526, 7532, 7539, 7602, 7608, 7619, 7627, 7628, 7645, 7650, 7651, 7657, 7671, 7673, 7689, 7710, 7722, 7736, 7758, 7764, 7772, 7781, 7789, 7792, 7794, 7799, 7803, 7806, 7812, 7832, 7836, 7844, 7850, 7872, 7873, 7878, 7887, 7905, 7919, 7929, 7942, 7971, 8003, 8024, 8055, 8060, 8069, 8078, 8103, 8126, 8167, 8175, 8215, 8222, 8233, 8248, 8260, 8263, 8270, 8271, 8275, 8288, 8305, 8311, 8316, 8355, 8373, 8376, 8390, 8402, 8417, 8439, 8460, 8484, 8496, 8497, 8501, 8511, 8532, 8545, 8551, 8560, 8564, 8565, 8579, 8591, 8612, 8619, 8629, 8630, 8633, 8635, 8643, 8649, 8670, 8692, 8710, 8715, 8754, 8792, 8802, 8825, 8838, 8847, 8851, 8868, 8876, 8892, 8903, 8918, 8922, 8956, 8961, 8988, 8992, 8995, 9014, 9050, 9093, 9099, 9103, 9115, 9118, 9119, 9130, 9159, 9171, 9177, 9186, 9197, 9221, 9246, 9260, 9275, 9291, 9305, 9327, 9331, 9334, 9336, 9337, 9350, 9356, 9371, 9399, 9424, 9447, 9448, 9450, 9451, 9501, 9517, 9519, 9525, 9527, 9564, 9576, 9580, 9587, 9592, 9605, 9610, 9620, 9636, 9642, 9651, 9653, 9662, 9668, 9672, 9676, 9680, 9685, 9701, 9712, 9741, 9772, 9779, 9802, 9817, 9821, 9847, 9848, 9849, 9862, 9863, 9865, 9874, 9876, 9898, 9903, 9917, 9926, 9935, 9962, 9964, 9968, 9972, 9982, 9995, 10007, 154, 302, 421, 573, 704, 743, 2220, 3264, 3284, 3661, 3755, 3781, 3850, 4135, 4150, 4164, 4176, 4592, 4691, 4692, 4709, 4785, 5024, 5216, 5244, 5246, 5264, 5526, 5695, 5884, 6084, 6152, 6279, 6370, 6531, 6754, 6856, 7042, 7119, 7159, 7383, 7517, 7526, 7578, 7602, 7657, 7704, 7794, 7929, 8055, 8103, 8270, 8316, 8402, 8421, 8565, 8635, 8643, 8710, 8781, 8825, 8995, 9092, 9119, 9197, 9246, 9336, 9356, 9450, 9451, 9576, 9653, 9662, 9685, 9734, 9738, 9962, 9968, 10007, 3531, 4386, 4481, 6564, 7475, 7677, 8172, 8418, 9817]

In [6]:
removed_indexes += movie_data.loc[movie_data.Movie_id.duplicated(keep='first')].index.tolist()
print(len(removed_indexes))

2472

In [7]:
movie_data.drop(index=removed_indexes, inplace=True)
movie_data.reset_index(drop=True, inplace=True)

movie_ratings.drop(index=removed_indexes, inplace=True)
movie_ratings.reset_index(drop=True, inplace=True)

In [8]:
movie_data

,Movie_id,Title,Genres,Release_year,Runtime,Language,Adult
0,1236153,Mercy,"[878, 28, 53]",2026.0,99,en,False
1,1272837,28 Years Later: The Bone Temple,"[27, 53, 878]",2026.0,109,en,False
2,1244975,The Orphans,[28],2025.0,95,fr,False
3,1301306,A Woman Scorned,[28],2025.0,84,en,False
4,840464,Greenland 2: Migration,"[12, 53, 878]",2026.0,98,en,False
...,...,...,...,...,...,...,...
7708,214140,McCanick,"[80, 18, 53]",2014.0,96,en,False
7709,552934,Erased,[18],2018.0,81,sl,False
7710,47819,Americathon,[35],1979.0,84,en,False
7711,653484,Paranormal Roommates,"[16, 35]",2013.0,8,en,False
7712,257366,Dummy,"[18, 10770]",1979.0,96,en,False

In [9]:
movie_ratings

      Movie_id  Vote_average  Vote_count
0      1236153         7.080         480
1      1272837         7.211         608
2      1244975         6.100          50
3      1301306         6.000           9
4       840464         6.526         504
...        ...           ...         ...
7708    214140         4.600          48
7709    552934         6.500           6
7710     47819         3.500          11
7711    653484         5.000           2
7712    257366         8.500           2

[7713 rows x 3 columns]

In [10]:
movie_ratings["has_ratings"] = movie_ratings["Vote_average"].notna().astype(int)
movie_ratings

      Movie_id  Vote_average  Vote_count  has_ratings
0      1236153         7.080         480            1
1      1272837         7.211         608            1
2      1244975         6.100          50            1
3      1301306         6.000           9            1
4       840464         6.526         504            1
...        ...           ...         ...          ...
7708    214140         4.600          48            1
7709    552934         6.500           6            1
7710     47819         3.500          11            1
7711    653484         5.000           2            1
7712    257366         8.500           2            1

[7713 rows x 4 columns]

In [11]:
movie_data.loc[movie_data.Movie_id.unique() != movie_ratings.Movie_id.unique()]

Empty DataFrame
Columns: [Movie_id, Title, Genres, Release_year, Runtime, Language, Adult]
Index: []

In [12]:
movie_ratings.loc[~movie_ratings.Movie_id.isin(movie_data.Movie_id.unique())]

Empty DataFrame
Columns: [Movie_id, Vote_average, Vote_count, has_ratings]
Index: []

In [13]:
movie_data = movie_data.join(movie_ratings.set_index("Movie_id"), on="Movie_id", how="left")

In [14]:
movie_genres = pd.read_csv("../data/movie_genres.csv")
movie_genres

    Genre_id       Genre_name
0         28           Action
1         12        Adventure
2         16        Animation
3         35           Comedy
4         80            Crime
5         99      Documentary
6         18            Drama
7      10751           Family
8         14          Fantasy
9         36          History
10        27           Horror
11     10402            Music
12      9648          Mystery
13     10749          Romance
14       878  Science Fiction
15     10770         TV Movie
16        53         Thriller
17     10752              War
18        37          Western

In [15]:
def process_genres(genres_list):
    movie_genre_name = movie_genres.Genre_name.loc[movie_genres.Genre_id.isin(genres_list)].tolist()
    return movie_genre_name

In [16]:
process_genres([28, 12, 16])

['Action', 'Adventure', 'Animation']

In [17]:
movie_data["Genres"] = movie_data["Genres"].apply(lambda x: process_genres(eval(x)))

In [18]:
movie_data.head()

,Movie_id,Title,Genres,Release_year,Runtime,Language,Adult,Vote_average,Vote_count,has_ratings
0,1236153,Mercy,"[Action, Science Fiction, Thriller]",2026.0,99,en,False,7.080,480,1
1,1272837,28 Years Later: The Bone Temple,"[Horror, Science Fiction, Thriller]",2026.0,109,en,False,7.211,608,1
2,1244975,The Orphans,[Action],2025.0,95,fr,False,6.100,50,1
3,1301306,A Woman Scorned,[Action],2025.0,84,en,False,6.000,9,1
4,840464,Greenland 2: Migration,"[Adventure, Science Fiction, Thriller]",2026.0,98,en,False,6.526,504,1

In [19]:
movie_data[["Movie_id", "Title"]].to_csv("../processed_data/movie_titles.csv", index=False)

In [20]:
movie_data["Language"] = movie_data["Language"].replace("cn", "zh", inplace=False)

In [21]:
language_code = movie_data["Language"].unique().tolist()

In [22]:
languages = [
    "English",
    "French",
    "Chinese",
    "Spanish",
    "Norwegian",
    "Japanese",
    "Telugu",
    "Portuguese",
    "Arabic",
    "German",
    "Czech",
    "Korean",
    "Tagalog",
    "Finnish",
    "Turkish",
    "Dutch",
    "Thai",
    "Hindi",
    "Kannada",
    "Assamese",
    "Italian",
    "Serbian",
    "Latvian",
    "Polish",
    "Malayalam",
    "Danish",
    "Russian",
    "Mongolian",
    "Tamil",
    "Indonesian",
    "Swedish",
    "Malay",
    "Ukrainian",
    "Croatian",
    "Romanian",
    "Estonian",
    "Hungarian",
    "Punjabi",
    "Catalan",
    "Greek",
    "Irish",
    "Slovenian",
    "Albanian",
    "Bengali",
    "Serbo-Croatian",
    "Slovak",
    "Basque",
    "Swahili",
    "Venda",
    "Icelandic",
    "Marathi",
    "Persian",
    "Sinhala",
    "Urdu",
    "Southern Sotho",
    "Lithuanian",
    "Bulgarian",
    "Yiddish",
    "Hebrew",
    "Luxembourgish",
    "Bosnian",
    "Afrikaans",
    "Javanese",
    "Azerbaijani",
    "Moldavian",
    "Norwegian Bokmål",
    "Wolof"
]

language_list = []

for i in range(len(languages)):
    language_list.append([language_code[i].lower() ,languages[i].lower()])

language_df = pd.DataFrame(language_list, columns=["Language_code", "Language_name"])
language_df.to_csv("../processed_data/language_codes.csv", index=False)

In [23]:
movie_data.drop(columns=["Movie_id", "Title"], inplace=True)

In [24]:
movie_data["Adult"] = movie_data["Adult"].astype(int)
movie_data

,Genres,Release_year,Runtime,Language,Adult,Vote_average,Vote_count,has_ratings
0,"[Action, Science Fiction, Thriller]",2026.0,99,en,0,7.080,480,1
1,"[Horror, Science Fiction, Thriller]",2026.0,109,en,0,7.211,608,1
2,[Action],2025.0,95,fr,0,6.100,50,1
3,[Action],2025.0,84,en,0,6.000,9,1
4,"[Adventure, Science Fiction, Thriller]",2026.0,98,en,0,6.526,504,1
...,...,...,...,...,...,...,...,...
7708,"[Crime, Drama, Thriller]",2014.0,96,en,0,4.600,48,1
7709,[Drama],2018.0,81,sl,0,6.500,6,1
7710,[Comedy],1979.0,84,en,0,3.500,11,1
7711,"[Animation, Comedy]",2013.0,8,en,0,5.000,2,1
7712,"[Drama, TV Movie]",1979.0,96,en,0,8.500,2,1

In [25]:
movie_data.drop(columns=["has_ratings","Vote_count"], inplace=True)

In [26]:
movie_data

,Genres,Release_year,Runtime,Language,Adult,Vote_average
0,"[Action, Science Fiction, Thriller]",2026.0,99,en,0,7.080
1,"[Horror, Science Fiction, Thriller]",2026.0,109,en,0,7.211
2,[Action],2025.0,95,fr,0,6.100
3,[Action],2025.0,84,en,0,6.000
4,"[Adventure, Science Fiction, Thriller]",2026.0,98,en,0,6.526
...,...,...,...,...,...,...
7708,"[Crime, Drama, Thriller]",2014.0,96,en,0,4.600
7709,[Drama],2018.0,81,sl,0,6.500
7710,[Comedy],1979.0,84,en,0,3.500
7711,"[Animation, Comedy]",2013.0,8,en,0,5.000
7712,"[Drama, TV Movie]",1979.0,96,en,0,8.500

In [27]:
movie_data.to_csv("../processed_data/movie_data.csv", index=False)